@model WebApplication1.Controllers.HomeController.IndexViewModel
<!DOCTYPE html>
<html>
<head>
    <title>Главная</title>
</head>
<body>
    <header>
        <a href="Employee/Index">Панель управления</a>
    </header>
    <main>
        @using (Html.BeginForm("Index", "Home", FormMethod.Get))
        {
            <input type="text" name="search"/>
            <input type="submit"/>

            @foreach (var author in Model.authors)
            {
                <label for="authors">@author</label>
                <input type="checkbox" name="authors" value="@author.Id">
            }

            @foreach (var publisher in Model.publishers)
            {
                <label for="publishers">@publisher</label>
                <input type="checkbox" name="publishers" value="@publisher.Id">
            }

            @foreach (var genre in Model.genres)
            {
                <label for="genres">@genre</label>
                <input type="checkbox" name="genres" value="@genre.Id">
            }
            
 /*           @foreach (var author in Model.authors)
            {
                <label for="authors[@author.Id]">@author</label>
                <input type="checkbox" name="authors[@author.Id]">
            }

            @foreach (var publisher in Model.publishers)
            {
                <label for="publishers[@publisher.Id]">@publisher</label>
                <input type="checkbox" name="publishers[@publisher.Id]">
            }

            @foreach (var genre in Model.genres)
            {
                <label for="genres[@genre.Id]">@genre</label>
                <input type="checkbox" name="genres[@genre.Id]">
            }
 */           

        }
        
        @foreach (var book in Model.books)
        {
            <div>
                <p>@book.Title</p>
                <p>@book.Author</p>
                <p>@book.Publisher</p>
                <p>@book.Count</p>
                <p>@book.Genre</p>
                <p>@book.AgeRestriction</p>
                <p>@book.Price</p>
            </div>
          

        }
    </main>
</body>
</html>