@model WebApplication1.Controllers.HomeController.IndexViewModel
<!DOCTYPE html>
<html>
<head>
    <title>Главная</title>
</head>
<body>
    <header>
        <a href="Employee/Index">Панель управления</a>
    </header>
    <main>
        @using (Html.BeginForm("Index", "Home", FormMethod.Get))
        {
            <input type="text" name="search"/>
            <input type="submit"/>

            
                @foreach (var author in Model.authors)
                {
                    <label for="@author.Id">@author</label>
                    <input type="checkbox" name="authors[@author.Id]">
                }
            

        }
        
        @foreach (var book in Model.books)
        {
            <div>
                <p>@book.Title</p>
                <p>@book.Author</p>
                <p>@book.Publisher</p>
                <p>@book.Count</p>
                <p>@book.Genre</p>
                <p>@book.AgeRestriction</p>
                <p>@book.Price</p>
            </div>
          

        }
    </main>
</body>
</html>